<div class="wrapper">
  <div class="header">
    <%= render "shared/header" %>
  </div>
  <div class="lists-bookmarks">
    <div class="side-bar">
      <%= render "shared/side_bar" %>
    </div>

    <div class="iroiro">
      <div class="new-bookmark">
        新規登録
      </div>
      <div class="kensaku">
        <div class="title-kensaku">
          タイトル検索
        </div>
        <div class="tag-kensaku">
          タグ検索
        </div>
      </div>
    </div>

    <div class="bookmarks">
      <div class="bookmark">
        ブックマーク １
      </div>
      <div class="bookmark">
        ブックマーク ２
      </div>
      <div class="bookmark">
        ブックマーク ３
      </div>
      <div class="bookmark">
        ブックマーク ３
      </div>
      <div class="bookmark">
        ブックマーク ３
      </div>
      <div class="bookmark">
        ブックマーク ３
      </div>
      <div class="bookmark">
        ブックマーク ３
      </div>
      <div class="bookmark">
        ブックマーク ３
      </div>
      <div class="bookmark">
        ブックマーク ３
      </div>
      <div class="bookmark">
        ブックマーク ３
      </div>
      <div class="bookmark">
        ブックマーク ３
      </div>
      <div class="bookmark">
        ブックマーク ３
      </div>
      <div class="bookmark">
        ブックマーク ３
      </div>
      <div class="bookmark">
    
    </div>
  </div>
</div>