<div class="wrapper">
  <div class="header">
    <%= render "shared/header" %>
  </div>
  <div class="lists-bookmarks">
    <div class="side-bar">
      <%= render "shared/side_bar" %>
    </div>

    <div class="bm-field">
      <div class="new-bookmark">
        <div class="nb-title">
          タイトル
        </div>
        <div class="nb-url">
          url
        </div>
        <div class="nb-memo">
          メモ
        </div>
      </div>

      <div class="bookmarks">
        <div class="bookmark">
          ブックマーク １
        </div>
        <div class="bookmark">
          ブックマーク ２
        </div>
        <div class="bookmark">
          ブックマーク ３
        </div>
      </div>
    </div>
  </div>
</div>