<div class="app-name">
  BookMarkList
</div>
<div class="list-name">
  <%= @list_id.list_name %>
</div>
<div class="user-name">
  <%= current_user.nickname %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn" %>
</div>
