<div class="kensaku">
  <div class="title-kensaku">
    タイトル検索
  </div>
  <div class="tag-kensaku">
    タグ検索
  </div>
</div>
<div class="lists">
  <div class="list" id="list" style="display: none;">
  </div>
  <% @lists.each do |list| %>
    <div class="list">
      <%= link_to list.list_name, list_bookmarks_index_path(list.id) %>
    </div>
  <% end %>
</div>

<div class="new-list">
  <%= form_with model: @list, id: "form" do |f| %>
    <%= f.text_field :list_name, id: 'list_name' %>
    <%= f.submit '投稿する', id: 'submit' %>
  <% end %>
</div>