.bookmarks{
  width: 100%;
  height: calc(100vh - 100px);
  overflow: scroll;
  margin: 20px auto;
}

.bookmark{
  width: 70%;
  border: 1px solid black;
  margin: 20px auto;
  display: block;
}

.nb-title{
  border: 1px solid black;
  width: 90%;
  margin: 0px 20px;
}

.nb-url{
  border: 1px solid black;
  width: 90%;
  margin: 0px 20px;
}

.nb-memo{
  border: 1px solid black;
  width: 90%;
  height: 300px;
  margin: 0px 20px;
  overflow: scroll;
}

.nb-submit{
  background-color: white;
  margin: 1px;
}

.bm-field{
  width: 80%;
}

.new-bookmark{
  width: 120px;
  background: white;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  border: 1px solid black;
}

.click-new{
  display: none;
  position: absolute;
  top: 130px;
  left: 370px;
  width: 500px;
  background-color: whitesmoke;
  margin: 0 auto;
  border: 4px double black;
}

.bookmark-title{
  font-size: 40px;
  word-wrap: break-word;
  overflow: scroll;
}

.bookmark-url{
  font-size: 15px;
  word-wrap: break-word;
  overflow: scroll;
  border: 1px solid black;
  margin: 10px;
}

.bookmark-text{
  font-size: 20px;
  border: 1px solid black;
  margin: 10px;
}

.title-label{
  font-size: 30px;
}

.url-label{
  font-size: 30px;
}

.memo-label{
  font-size: 30px;
}