html{
  height: 100%;
  width: 100%;
  background-color: white;
}

.wrapper{
  width: 100vw;
  height: 100vh;
}

.lists-bookmarks{
  display: flex;
}

.header{
  width: 100vw;
  height: 100px;
  background-color: white;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-bar{
  width: 200px;
  height: calc(100vh - 100px);
  background-color: white;
  border: 1px solid black;
  border-top: none;
}

.new-bookmark{
  height: 30px;
  width: calc(100vw / 4);
  align-items: center;
  border: 1px solid black;
  margin: 20px;
}

.bookmarks{
  width: calc(100vw - 200px);
  height: calc(100vh - 100px);
  border: 1px solid black;
  border-top: none;
  border-left: none;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: space-around; */
  overflow: scroll;
}

.app-name{
  font-size: 50px;
  margin-left: 10px;
}

.lists{
  font-size: 20px;
  overflow: scroll;
  height: calc(100vh - 100px - 40px);
}

.list{
  padding: 15px;
  margin-left: 15px;
}

.list-name{
  font-size: 35px;
}

.user-name{
  margin-right: 10px;
}

.new-list{
  height: 40px;
  border-top: 1px solid black;
}

.kensaku{
  height: 80px;
  display: block;
}

.bookmark{
  height: 80px;
  width: calc(100% / 1.5);
  border: 1px solid black;
  margin: 20px 30px;
}

.title-kensaku{
  height: 30px;
  width: calc(100vw / 4);
  align-items: center;
  border: 1px solid black;
  margin: 20px;
}

.tag-kensaku{
  height: 30px;
  width: calc(100vw / 4);
  align-items: center;
  border: 1px solid black;
  margin: 20px;
}

.iroiro{
  width: 500px;
  border-right: black 1px solid;
}